@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  box-sizing: border-box;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.text-stroke {
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: #0057c1;
}

.eight-grid {
  grid-template-areas:
    "area-1 area-2 area-3 area-3"
    "area-4 area-4 area-5 area-5"
    "area-4 area-4 area-6 area-6"
    "area-7 area-7 area-8 area-8";
}

.eight-grid-second {
  grid-area: area-4;
}

.eight-grid-first {
  grid-area: area-3;
}

.eight-grid-third {
  grid-area: area-8;
}

.eight-grid-mobile {
  grid-template-areas:
    "area-1 area-2 "
    "area-3 area-3"
    "area-4 area-5"
    "area-6 area-6"
    "area-7 area-8"
    "area-9 area-9"
    "area-10 area-11";
}

.eight-grid-mob-first {
  grid-area: area-3;
}

.eight-grid-mob-second {
  grid-area: area-6;
}

.eight-grid-mob-third {
  grid-area: area-9;
}

.services-grid {
  grid-template-areas:
    "area-1 area-2"
    "area-3 area-4"
    "area-5 area-6";
}

input,
textarea {
  background: transparent;
  border-bottom: 1px solid white;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input,
textarea:focus {
  outline: none;
  color: white;
}

label {
  line-height: 20px;
}


#tnc h1 {
  font-size: xx-large;
}

#tnc h2 {
  font-size: x-large;
}

/* #client-card{
  opacity: 0;
} */
body::-webkit-scrollbar { width: 0 !important }

#hero-flex-mobile::-webkit-scrollbar { width: 0 !important }

#strengths-mobile::-webkit-scrollbar { width: 0 !important }

#country-section-mobile::-webkit-scrollbar { width: 0 !important }

#services-horizontal::-webkit-scrollbar { width: 0 !important }

.move-text {
  transform: translateX(50px)  !important;
  transition: transform 1s;
}

.remove-text {
  transform: translateX(1px)  !important;
  transition: transform 1s;
}